    <div class="list-group text-center">
    <div class="scrollable" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>A propos</h1>
      </div>
      <div class="list-group-item list-group-item-home media">
	Multicollect-Suivi est une application mobile pour la récolte de données, baséee sur des formulaires réalisés sur  www.multicollect.net. L'application est
		utilisable par tout scientifique, gratuitement mais dans un cadre contractuel.
Merci de contacter : <a href="mailto:contact@multicollect.net">contact@multicollect.net</a> si vous êtes intéressé par l'exploitation de l'outil.
Si vous êtes utilisateur de l'outil et que vous avez des questions, contactez la personne qui vous a proposé de participer à une étude.
				
	 	
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/">Retour accueil</a>
				</div>

    </div>


