    <div class="list-group text-center">
    <div class="scrollable" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>A propos</h1>
      </div>
      <div class="list-group-item list-group-item-home media">
	SmartToc est une application mobile pour la récolte de données. <a href="http://smarttoc.altotoc.fr/" onclick="window.open(this.href,'_system'); return false;" >Consultez ce site</a> pour en savoir plus.
				
	 	
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/">Retour accueil</a>
				</div>

    </div>


