<div class="scrollable" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Smart'TOC
        </h1>
      </div>
      <div class="list-group-item list-group-item-home media startButton">
		
			<button class="btn btn-primary" ng-click="startQuoti($event)">Questionnaire quotidien</button>
			<button class="btn btn-primary" ng-click="startHebdo($event)">Questionnaire hebdo</button>
      </div>

    </div>

  </div>
</div>
