    <div class="list-group text-center">
     <div ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Mon journal de bord</h1>
      </div>
    
     <div class="scrollable scrollablenote noteList" >  
 	 <div class="scrollable-content" scroll-glue>
      <div class="list-group-item list-group-item-home media">

<div class="myNotes">
 	<div ng-if="notes.length!= 0">
		<div ng-repeat="(keyrep, valuerep) in notes track by $index" class="noteBloc"> 
			<div class="noteDate">{{tsToDate(valuerep.date)}}</div>
			<div class="noteTexte">{{valuerep.texte}}</div>
	
		</div>
	</div>
	<div ng-if="notes.length==0">
		Pas de notes.
	</div>
</div>
<!--  
		-->		
	 
      </div>
      </div>	 
      </div>
      <div id="bottom" class="paddingbottom60"></div>
        
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz noteForm noteFormHeightChange">
      ✏
		       <div class="valignTop">
		       <form name="myQuiz" novalidate>
			       <textarea class="msd-elastic writenote" placeholder="votre note" ng-model="$parent.mynote" ng-required="true"></textarea>
			       <button class="btn" ng-click="saveMyNote($event)" ng-class="{'btn-primary': myQuiz.$valid,'btn-default': myQuiz.$invalid}">Enregistrer</button>
		       </form>
		       </div>
		       <br/><br/>
				<button class="btn btn-primary" ng-click="sendMyNotes($event)">Envoyer par mail</button>&nbsp;<a class="btn btn-primary" href="#/">Retour accueil</a>
				</div>

    </div>


