    <div class="list-group text-center">
    <div class="scrollable" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Mes notifications</h1>
      </div>
      <div class="list-group-item list-group-item-home media">
   Ce journal de bord va vous permettre de suivre votre évolution au quotidien. 
Nous vous proposons de vous envoyer chaque jour une notification pour vous aider à vous rappeler de remplir votre journal. 
Si vous ne souhaitez pas les recevoir, vous pouvez désactiver cette option avec le bouton ci-dessous.
		 <div class="form-group">
          <label>Notifications&nbsp;: </label> 
          <input id="notifInput" type="checkbox" ng-model='notifMeModel' ng-init="notifMeModel=notif;" ng-change="notifMe(notifMeModel)">
		 <label class="btn btn-label" for="notifInput" ng-class="{'btn-success': notifMeModel,'btn-danger': !notifMeModel}"><span ng-if="notifMeModel">Actif</span><span ng-if="!notifMeModel">Inactif</span></label>
				
        </div>

	 	
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/">Retour accueil</a>
				</div>

    </div>


