    <div class="list-group text-center">
    <div class="scrollable" ng-swipe-right='Ui.turnOn("uiSidebarLeft")' ng-swipe-left='Ui.turnOff("uiSidebarLeft")'>  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Mes notifications</h1>
      </div>
      <div class="list-group-item list-group-item-home media">

        
		
		       Prochainement
				
	 	
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/">Retour accueil</a>
				</div>

    </div>


