

    <div class="list-group text-center">
    <div class="scrollable">  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Smart'TOC</h1>
      </div>
      <div class="list-group-item list-group-item-home media">

        <div class="media-body">
		    <div ng-if="profileok == 'page1'">
		    	<div class="bulle">
	    			<p>
	    				<strong>Bonjour et bienvenue dans votre journal de bord Smart’TOC !</strong>
						<br/><br/>
						Ce journal de bord va vous permettre de suivre votre évolution au quotidien. 
						Je vous poserai des questions soit le matin soit le soir. Je vous enverrai chaque 
						jour une notification pour vous rappeler de remplir votre journal.
					</p>
		    	</div>
		    	<div class="fille1"></div>
		    	<div class="clear"></div>
			</div>
	         <div ng-if="profileok == 'page2'">  
	        À chaque fois que j’aurai des questions à vous poser, je vous préviendrai par une notification 
	        sur votre téléphone et si je n’ai pas de nouvelles de vous après quelques minutes, je peux vous écrire un sms. 
			<br/><br/>
			Bien sûr, je peux comprendre que parfois vous ne soyez pas disponible ou que vous n’ayez pas envie de répondre. 
			J’attendrai donc le lendemain pour prendre de vos nouvelles.
	        </div>
	        <div ng-if="profileok == 'page3'">
	        Pour que je puisse vous envoyer un sms quand vous n’avez pas vu que j’avais une question à vous poser, 
	        inscrivez votre numéro ci-dessous, sinon passez directement à la suite.
	        <input type='text'>
	        </div>
	        <div ng-if="profileok == 'page4'">
	        <div class="bulle">
	    			<p>
	        			Pour commencer, je vous propose de remplir un bref questionnaire pour mieux vous connaître.
	        		</p>
		    	</div>
		    	<div class="fille1"></div>
		    	<div class="clear"></div>
	        </div>
		       
		    <div ng-if="profileok == 'page5'">
		    	<div class="bulle">
	    			<p>
				        A présent, voici votre identifiant Smart’TOC :
						<br/><br/>
						{{quiz.deviceID}}
						<br/><br/>
						Veuillez le noter : il vous servira à récupérer vos données en cas de problème avec votre téléphone.  
						</p>
		    	</div>
		    	<div class="fille1"></div>
				<button class="btn btn-primary" ng-click="emailDeviceId($event)">M’envoyer un mail avec mon identifiant</button>
				<div class="clear"></div>
		        </div>
		        <div ng-if="profileok == 'page6'">
		        <div class="bulle">
	    			<p>
				        Bravo ! Vous avez terminé la configuration de Smart'TOC et j’ai toutes les informations dont j’ai besoin.
						<br/><br/>
						Vous pouvez fermer l’application ou revenir à l’accueil. Je me signalerai lorsque j’aurai une question à vous poser.
					</p>
		    	</div>
		    	<div class="fille1"></div>
		    	<div class="clear"></div>
		        </div>
		        <div ng-if="profileok == 'quiz'">
		        QUIZ
		        </div>
        <br/><br/>
       
    
        </div>
        
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
       <div class="list-group-item list-group-item-home media startButton">
         <div ng-if="profileok != 'page6'">
			<button class="btn btn-primary" ng-click="nextProfile($event)">Suivant</button>
		</div>
		<div ng-if="profileok == 'page6'">
			<button class="btn btn-primary" ng-click="nextProfile($event)">Retourner à l’accueil</button>
		</div>
		</div>
      
    </div>


