<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home titre_journal">
     	 <div ng-if="profileok == 'quiz'">
        	<div class="fille"></div>
        	<div class="postit"><div class="question">
        		<h1>Qui êtes-vous?</h1>
        	</div></div>
        </div>
      </div>
      <div class="list-group-item list-group-item-home media">

        
		<div ng-if="quiz.actif == true">
	       <groupe ng-repeat="groupe in quiz.groupes" data="groupe">
			  <!-- Include template dyn -->	
			  toto
			</groupe>
			<button class="btn btn-primary" ng-click="nextQuiz($event)">Next</button>
	 	</div>
	 	 <div ng-if="quiz.actif == 'getID'">
	 	 	getID
	 	 	<groupe ng-repeat="groupe in quiz.groupes" data="groupe">
			  <!-- Include template dyn -->	
			  toto
			</groupe>
		 	
		 	  <button class="btn btn-primary" ng-click="goToStartQuiz($event)">Go to Start</button>
		 	  <button class="btn btn-primary" ng-click="sendQuiz($event)">send reuslts</button>
	 	 </div>
	 	<div ng-if="quiz.actif == 'fin'">

	       Fin
			<button class="btn btn-primary" ng-click="finQuiz($event)">Fin</button>
	 	</div>
      </div>
      
    </div>

  </div>
</div>
