

    <div class="list-group text-center">
    <div ng-if="quiz.actif == true">
			<form name="myQuiz" novalidate>
			
			<div class="scrollable">  
  <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
     	 <div ng-if="profileok == 'quiz'">
        	<div class="fille"></div>
        	<div class="postit"><div class="question">
        		<h1>Qui êtes-vous?</h1>
        	</div></div>
        </div>
      </div>
      <div class="list-group-item list-group-item-home media">

        
		
		       <groupe ng-repeat="groupe in quiz.groupes" data="groupe">
				  <!-- Include template dyn -->	
				  
				</groupe>
				
	 	
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<button class="btn" ng-click="nextQuiz($event)" ng-disabled="myQuiz.$invalid" ng-class="{'btn-primary': myQuiz.$valid,'btn-default': myQuiz.$invalid}">Suivant</button>
				</div>
			</form>
	 	</div>
    </div>


