    <div class="list-group text-center">
    <div class="scrollable">  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Mes résultats</h1>
      </div>
      <div class="list-group-item list-group-item-home media">

        Votre idendifiant Smart'Toc : {{quiz.deviceID}}

	
	 	<button class="btn btn-primary" ng-click="sendMail($event)">Envoyer</button>
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/results">Retour</a>
				</div>

    </div>


