    <div class="list-group text-center">
    <div class="scrollable">  
 	 <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Mes résultats</h1>
      </div>
      <div class="list-group-item list-group-item-home media">

        Votre idendifiant Smart'Toc : <span style="font-weight:bold">{{quiz.deviceID}}</span>
        <br/>
        Vous pouvez choisir la période pour laquelle une restitution pdf va être 
        calculé et envoyé, puis vous pouvez exclure des questions dont vous ne désirez 
        pas qu'elles soient présentes dans le document ; pour cela, il faut cliquer sur l'intitulé, le fond passera alors en <span class="btn-danger1">&nbsp;rouge&nbsp;</span>.
        <hr/>

		<form id="sendResultsMail">
		<input type="radio" name="periode" value="w" id="idsemaine" ng-model="mperiode" ng-init="mperiode='w'"/>
		<label class="btn1" for="idsemaine" ng-class="{'btn-primary1': mperiode=='w'}">Semaine</label>
		<input type="radio" name="periode" value="m" id="idmois" ng-model="mperiode"/>
		<label class="btn1" for="idmois" ng-class="{'btn-primary1': mperiode=='m'}">Mois</label>
		<input type="radio" name="periode" value="3m" id="idtrimestre" ng-model="mperiode"/>
		<label class="btn1" for="idtrimestre" ng-class="{'btn-primary1': mperiode=='3m'}">Trimestre</label>
		<!--  -->
 		<br/><br/>
 		<input id="mydate" type="date" style="display:inline-block;width:auto;" class="form-control" ng-model="dt" min="2015-12-01" max="{{dtinit}}"/>

		<!--  -->
		<hr/>
		<div ng-repeat="(keyrep, valuerep) in questionslist" class="questions"> 
			<div ng-if="valuerep.question!='systemuid'">
				<input type="checkbox" name="sendResultRadios[{{valuerep.qid}}]" value="{{valuerep.qid}}" id="id{{valuerep.qid}}"  ng-model="valuerep.reponse"  
					ng-init="valuerep.reponse=true">
				<label class="btn1 btn-label1" for="id{{valuerep.qid}}" ng-bind-html="toTrustedHTML(valuerep.question)" ng-class="{'btn-success1': valuerep.reponse,'btn-danger1': !valuerep.reponse}"></label>
				
			</div>
		</div>
	 	<button class="btn btn-primary" ng-click="sendMail($event)" ng-disabled="disabledSendMail()">Envoyer</button>
	 	</form>
      </div>
      <div class="paddingbottom60"></div>
        </div>
</div>
      
      <div class="list-group-item list-group-item-home media nextQuiz">
				<a class="btn btn-primary" href="#/results">Retour</a>
				</div>

    </div>


