<div class="scrollable">
  <h1 class="scrollable-header app-name">Smart'TOC</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Accueil <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/results">Mes résultats <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/journal">Mon journal de bord <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/notif">Mes notifications <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
