<div class="question" monID="{{groupe.qid}}">
	<div ng-if="profileok == 'quiz'">
	<div ng-bind-html="toTrustedHTML(groupe.question)"></div>
	</div>
	<div class="left"><img src="img/humeur_2.png" alt="mal" /><br />Extrêmement<br />triste</div>
	<div class="right"><img src="img/humeur_4.png" alt="bien" /><br />Extrêmement<br />gaie</div>
	<div class="clear"></div>
	<!-- <input type="range" value="50" max="100" min="0" ng-model="groupe.reponse" ng-init="groupe.reponse = '50'" ng-required="true"> -->
	<input type="range" value="50" max="100" min="0" ng-model="groupe.reponse" ng-required="true"> 
</div>
	
	


