<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Demo UseOK ?</h1>
      </div>
      <div class="list-group-item list-group-item-home media">
        <div>
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Play around a little</h3>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ultrices iaculis posuere. Ut ultrices sem enim, eu mattis libero luctus at. Vivamus at lorem ligula. Morbi ac erat augue. Donec nibh erat, tristique a mattis eu, tempus et ligula. Suspendisse viverra eros vitae pretium egestas. Etiam quis augue sed erat convallis rhoncus id auctor nibh. Ut leo eros, sagittis eu nibh quis, interdum sodales leo.

		Sed in mi ac risus tempus laoreet. Nullam vehicula maximus ligula ac condimentum. Vivamus vel arcu rhoncus sapien fermentum maximus. Suspendisse elementum facilisis condimentum. Pellentesque posuere, nunc eget vehicula vestibulum, dolor magna blandit dui, id posuere tellus tortor eget lacus. Praesent in ipsum sed orci imperdiet tristique. Cras faucibus metus massa, vel vehicula mauris tincidunt eget.
		 <button class="btn btn-primary" ng-click="useOK($event)">Use ok</button>
		  <button class="btn btn-primary" ng-click="useKO($event)">Use KO</button>       
        </div>
      </div>
      
    </div>

  </div>
</div>
