<div class="scrollable">  
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1>Demo UseOK ?</h1>
      </div>
      <div class="list-group-item list-group-item-home media">
        <div class="media-body">
            <strong>Multicollect-Suivi</strong> est une application mobile qui vous permet d’évaluer au quotidien votre état en répondant à 
            quelques questions et d’avoir un retour sous forme graphique de ces évaluations.<br/>
			Cette application a été développée par des chercheurs de l’Inserm et <strong>garantit la sécurité et la confidentialité </strong>
			de vos données qui pourront être exploitées à des fins de recherche de façon <strong>anonyme</strong>. En l’installant, vous acceptez 
			de participer à l’évaluation de cette application par l’équipe de recherche BEBG. <br/>
			Vous pourrez, si vous le souhaitez, recevoir vos résultats graphiques par mail ou les envoyer aux destinataires de 
			votre choix (vos proches, une personne de confiance, un médecin ou un psychothérapeute).
			<br/><br/>
			<button class="btn btn-primary" ng-click="useOK($event)">Je suis d'accord et je souhaite installer Multicollect-Suivi</button>
			<br/><br/>
		  <button class="btn btn-primary" ng-click="useKO($event)">Je ne souhaite pas installer Multicollect-Suivi</button>       
        </div>
      </div>
      
    </div>

  </div>
</div>
