

    <div class="list-group text-center">
    <form name="myUse" novalidate>
          <div class="scrollable">  
  <div class="scrollable-content">
      <div class="list-group-item list-group-item-home titre_journal">
        <h1>Smart'TOC</h1>
      </div>
      

      <div class="list-group-item list-group-item-home media">
        <div class="media-body">
	        <div class="bulle">
				<p>
	            <strong>
				Smart’TOC </strong>est une application mobile qui vous permet d’évaluer au quotidien votre état en répondant à quelques 
				questions et d’avoir un retour sous forme graphique de ces évaluations.<br/>
				Cette application a été développée par des chercheurs de l’Inserm et 
				<strong>garantit la sécurité et la confidentialité </strong>de vos données qui pourront être exploitées à des 
				fins de recherche de façon <strong>anonyme</strong>. En l’installant, vous acceptez de participer à l’évaluation de cette application 
				par l’équipe de recherche BEBG. <br/>
				Vous pourrez, si vous le souhaitez, recevoir vos résultats graphiques par mail ou les envoyer 
				aux destinataires de votre choix (vos proches, une personne de confiance, un médecin ou un psychothérapeute).
				</p>
			</div>
			<div class="fille1"></div>
			
				<div class="usequestion">
				<!--  	<input type="radio" name="useanswer" value="useOK" id="useok" ng-required="true" ng-model="reponse">
					<label for="useok">
						<div class="icon"></div>
						<div class="txt">Je suis d'accord et je souhaite installer Smart’TOC</div>
					</label>
					<input type="radio" name="useanswer" value="useKO" id="useko" ng-required="true" ng-model="reponse">
					<label for="useko">
						<div class="icon"></div>
						<div class="txt">Je ne souhaite pas installer Smart’TOC</div>
					</label>-->
					<input type="radio" name="useanswer" value="useOK" id="useok" ng-required="true" ng-model="reponse">
					<div class="useok mylabel">
						<label for="useok" class="icon">
						</label>
						<label for="useok" class="txt">
							Je suis d'accord et je souhaite installer Smart’TOC
						</label>
					</div>
					<input type="radio" name="useanswer" value="useKO" id="useko" ng-required="true" ng-model="reponse">
					<div class="useko mylabel">
						<label for="useko" class="icon">
						</label>
						<label for="useko" class="txt">
							Je ne souhaite pas installer Smart’TOC
						</label>
					</div>

					
				</div>
				<div class="clear"></div>
						
			
        </div>
      </div>

      <div class="paddingbottom60"></div>
        </div>
</div>

    
    <div class="list-group-item list-group-item-home media startButton">
				<button class="btn" ng-click="useClick($event)" ng-disabled="myUse.$invalid" ng-class="{'btn-success': myUse.$valid,'btn-danger': myUse.$invalid}">Suivant</button>
				</div>	
    </form>    
</div>

